{{> header}}
<style>
    body {
        text-align: center;
    }

    #photos {
        height: 300px;
        width: 300px;
    }

    #rightArrow {
        font-size: 50px;
    }

    #leftArrow {
        font-size: 50px;
    }

    #gameStart {
        background-color: cadetblue;
        color: orange;
        font-size: 40px;
        width: 200px;
        text-align: center;
        margin: auto;
    }

    h3 {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    ul {
        list-style: none;
    }
</style>

<h3> Here we will play a game with the computer</h3>
<p id="computerNumber"></p>
<p id="playerNumber"></p>
<p id="gameStart">Click To Play!</p>

<script>
    let gameStart = document.querySelector('#gameStart')


    gameStart.addEventListener('click',
        () => {
            let computerGuess = Math.floor((Math.random() * 10))
            console.log(computerGuess)
            let playerGuess = prompt(`What's the number between 1 and 10?`)
            if (computerGuess === playerGuess) {
                alert("You win")
            } else {
                alert(`You lose, the correct answer was ${computerGuess}`)
            }
            document.getElementById('computerNumber').textContent = `The Computer's Guess: ${computerGuess}`
            document.getElementById('playerNumber').textContent = `Your Guess: ${playerGuess}`
        }
    )
</script>
{{> footer}}